.modal{
    /*Rectangle*/
    width: 375px;
    height: 375px;
    background: #D55252;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    z-index: 11;
    top: 50%;
    transform: translate(0,-50%);
    position: relative;
    margin: auto;
}

.shading_theme{
    position: relative;
    background-color: rgba(0,0,0,0.50);
    z-index: 10;
}